<div class="about">
  <div class="doggo">
    <h2>Featured Doggos</h2>
  </div>
  <div class="hero">
    <mat-card class="hero-card">
      <a href="/">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </a>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="hero-card">
      <a href="/">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </a>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card class="hero-card">
      <a href="/">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </a>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="info">
    <div class="info-description">
      <p>
        Dog Dossier is a home to all dog lovers, where anyone can connect with other like minded dog owners to talk all about
        their goodest boys and girls. We encourage you to share your experiences with your own furry children to help others
        give their pets the best home they can.
      </p>
    </div>
  </div>
</div>
