<div class="comment">
  <ul>
    <li>
      <div class="comment-container">
        <div class="comment-header">
          <h3>Name</h3>
          <h3>Date</h3>
        </div>
        <p class="comment-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.
        </p>
        <div class="actions">
          <button mat-button color="primary">Reply</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="comment">
  <ul>
    <li>
      <div class="comment-container">
        <div class="comment-header">
          <h3>Name</h3>
          <h3>Date</h3>
        </div>
        <p class="comment-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.
        </p>
        <div class="actions">
          <button mat-button color="primary">Reply</button>
        </div>
      </div>
    </li>
  </ul>
</div>

