mat-form-field {
  display: block;
  width: 30vw;
  margin: 2rem auto;
  padding-top: 21.5px;
}

mat-form-field button {
  padding: auto;
}

mat-grid-list {
  margin: 3rem 4rem;
}

mat-grid-tile {
  border-radius: 5px;
  border: 1px solid #80deea;
}

mat-paginator {
  background-color: #80deea;
  color: black;
  margin: 3rem;
}
