<section>
  <mat-card>
    <img mat-card-image src="https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg" alt="image">
    <div>
      <mat-card-title>
        <h2>Affenpinscher</h2>
        <p>Toy</p>
      </mat-card-title>
      <mat-card-content>
        <p>Origin: Germany, France</p>
        <p>Life Span: 10 - 12 years</p>
        <p>Temperament: Stubborn, Curious, Playful, Adventurous, Active, Fun-loving</p>
        <p>Height: 9 - 11.5 inches</p>
        <p>Weight: 6 - 13 lbs.</p>
      </mat-card-content>
    </div>
  </mat-card>

  <hr>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>This goodest boy wants to hear what you have to say!</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>

  <hr>

  <div class="no-comments">
    <h1>This doggo needs some love! Type a comment above!</h1>
  </div>
  <div class="comments">
    <div class="comment">
      <div class="meta">
        <h3>Person Name</h3>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.</p>
      </div>
    </div>
    <div class="comment">
      <div class="meta">
        <h3>Person Name</h3>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.</p>
      </div>
    </div>
    <div class="comment">
      <div class="meta">
        <h3>Person Name</h3>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.</p>
      </div>
    </div>
    <div class="comment">
      <div class="meta">
        <h3>Person Name</h3>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.</p>
      </div>
    </div>
    <div class="comment">
      <div class="meta">
        <h3>Person Name</h3>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi iure repellat labore necessitatibus,
          perspiciatis architecto aliquid dolor quas ducimus quisquam odit accusamus quis nisi unde pariatur quae cupiditate
          totam.</p>
      </div>
    </div>
  </div>
</section>
